html
{
	height: 99%;
}

body {
	height: inherit;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.info {
	width: 40%;
}

.box{
	order: 1;
	display: flex;
	flex-flow: column;
	text-align: center;
	align-content: center;
}
.box h1{
	order: 1;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	align-self: center;
	padding-left: 10%;
	padding-right: 10%;
	border-bottom-style: solid;
	text-decoration: underline;
}
.box h2{
	order: 2;
	margin-top: 5px;
}
ul
{
	order: 2;
	padding: 0px;
	display: flex;
	justify-content: space-between;
	list-style-type: none;
}
.twitchName
{
	font-size: 27px;
	text-decoration: none;
	color: #353535;
}
.twitchName:visited
{
	text-decoration: none;
	color: #757575;
}
