html
{
	height: 99%;
}

body {
	height: inherit;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-image: url(Backgrounds/LastRites/LastRitesBild.png);
	background-repeat:no-repeat;
	background-size:cover;
	background-position: center;
}
.info {
	width: 40%;
	background-color: rgba(128,128,128,0.8);
}
.box{
	order: 1;
	display: flex;
	flex-flow: column;
	text-align: center;
	color:  black;
	text-shadow: 1px 1px 20px white;
	align-content: center;
}
.box h1{
	order: 1;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	align-self: center;
	padding-left: 10%;
	padding-right: 10%;
	border-bottom-style: solid;
	text-decoration: underline;
}
.box h2{
	order: 2;
	margin-top: 5px;
}
ul
{
	order: 2;
	padding: 0px;
	display: flex;
	justify-content: center;
	list-style-type: none;
}
.socialIcon img
{
	height: 64px;
	width: 64px;
	background-color: white;
}
